<div class="py-3 mb-3">
  <h1>Inputs and Outputs</h1>
</div>

<div class="p-3" style="background-color: lightgreen">
  <app-item-detail [item]="currentItem"></app-item-detail>
</div>
<hr />
<div class="p-3" style="background-color: lightcoral">
  <app-item-detail-metadata
    [item]="currentItem"
    [itemAvailability]="true"
  ></app-item-detail-metadata>
</div>

<hr />

<div class="p-3" style="background-color: lightgrey">
  <app-item-output (newItemEvent)="addItem($event)"></app-item-output>
  <h3>Parent component receiving value via @Output()</h3>

  <ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>
</div>

<hr />
<div class="p-3" style="background-color: lightpink">
  <h2>Input and Output together</h2>
  <p>Open the console to see the EventEmitter at work when you click Delete.</p>

  <app-input-output [item]="currentItem" (deleteRequest)="crossOffItem($event)">
  </app-input-output>
</div>

<hr />

<div class="p-3" style="background-color: lightsalmon">
  <h2>Input and Output in the component class metadata</h2>
  <p>Open the console to see the EventEmitter at work when you click Buy.</p>

  <app-in-the-metadata
    [clearanceItem]="lastChanceItem"
    (buyEvent)="buyClearanceItem($event)"
  >
  </app-in-the-metadata>
</div>

<hr />
<div class="p-3" style="background-color: lightseagreen">
  <h2>Aliasing Inputs and Outputs</h2>
  <p>
    See aliasing.component.ts for aliases and the console for the EventEmitter
    console logs.
  </p>

  <app-aliasing
    [saveForLaterItem]="currentItem"
    [wishListItem]="currentItem"
    (saveForLaterEvent)="saveForLater($event)"
    (wishEvent)="addToWishList($event)"
  >
  </app-aliasing>
</div>

<hr />
<div class="p-3" style="background-color: lightgoldenrodyellow">
  <h2>Wishlist:</h2>
  <ul>
    <li *ngFor="let wish of wishlist">{{ wish }}</li>
  </ul>
</div>
