<div class="container" style="background-color: lightblue">
  <h2>Peek-A-Boo</h2>

  <button type="button" (click)="toggleChild()" class="btn btn-primary m-3">
    {{ hasChild ? "Destroy" : "Create" }} PeekABooComponent
  </button>
  <button
    type="button"
    (click)="updateHero()"
    [hidden]="!hasChild"
    class="btn btn-primary m-3"
  >
    Update Hero
  </button>

  <div class="info">
    <app-peek-a-boo *ngIf="hasChild" [name]="heroName"></app-peek-a-boo>

    <h3>Lifecycle Hook Log</h3>
    <div *ngFor="let msg of hookLog" class="log">{{ msg }}</div>
  </div>
</div>
