<div class="container p-3 m-3" style="background-color: lightseagreen">
  <p>sub-outer2 works!</p>
  <a class="btn btn-primary btn-sm m-1" (click)="BehaviorSubjectHandler()">
    BehaviorSubject
  </a>
  <a class="btn btn-primary btn-sm m-1" (click)="ReplaySubjectHandler()">
    ReplaySubject
  </a>
  <a class="btn btn-primary btn-sm m-1" (click)="ReplaySubjectHandler2()">
    ReplaySubject 2
  </a>
  <a class="btn btn-primary btn-sm m-1" (click)="AsyncSubjectHandler()">
    AsyncSubject
  </a>
  <!-- <a class="btn btn-primary btn-sm m-1" (click)="VoidSubject()">
    Void subject
  </a> -->
  <hr />

  {{ counter }}
</div>
