<h1>PROPERTY/EVENT BINDING & STRING INTERPOLATION</h1>

<h3>This is a string interpolation data is: {{ name }}</h3>
<h3>Same but call function: {{ getNameStatus() }}</h3>
<button [disabled]="buttonDisabled">button</button>
<h3>{{ buttonDisabled }}</h3>
<h3 [innerText]="buttonDisabled"></h3>
<!-- event binding -->
<button (click)="onClickHandler()">CLICK HANDLER</button>
<h3>{{ clicked }}</h3>
<input (input)="onInputHandler($event)" type="text" />
<h3>{{ entered }}</h3>
<!-- two way data binding -->
<input type="text" [(ngModel)]="twoWayBinding" />
<h3>{{ twoWayBinding }}</h3>
<!-- DIRECTIVES -->
<ul>
  build in structural directive
  <li>*ngIf</li>
  <li>*ngFor</li>
  <li>*ngSwitch</li>
</ul>
<ul>
  build in attribute directive
  <li>ngClass</li>
  <li>NgStyle</li>
  <li>NgModel</li>
</ul>
<h3>[] use to bind some property. Binding to a property of the directive</h3>
<button (click)="ifHandler()">NG IF</button>

<h3 *ngIf="ifHandlerValue === true; else noServer">NG IF ACTIVATED</h3>
<ng-template #noServer>NG IF IS NOT ACTIVATED</ng-template>
<hr />
<p>NG STYLE DIRECTIVE</p>
<input [ngStyle]="{ color: 'red' }" [disabled]="true" ngModel="DisabledInput" />
<input
  [ngClass]="{ online: blue === true }"
  [disabled]="true"
  ngModel="DisabledInput"
/>
<ul *ngFor="let item of ['blue', 'red', 'green']; let i = index">
  <li [ngStyle]="{ color: item }">{{ i }} : {{ item }}</li>
</ul>

<h1>DIRECTIVES DEEP DIVE</h1>
<div appHighlight>IM IM HIGHLIGHT DIRECTIVE</div>
<div appHighlightHostBinding [defaultColor]="'yellow'">
  IM IM HIGHLIGHT HOST BINDING DIRECTIVE
</div>
