<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/basics" class="nav-link">Basics</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/events" class="nav-link">Events</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/observables" class="nav-link">RxJS Observables</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/object" class="nav-link">RxJS Subjects</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/scheduler" class="nav-link">RxJS scheduler</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/lifecyclehooks" class="nav-link">Lifecycle Hooks</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/viewencapsulation" class="nav-link">View encapsulation</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/componentcommunication" class="nav-link">Component communication</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/componentstyle" class="nav-link">Component style</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/sharingdata" class="nav-link">Sharing data</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/contentprojection" class="nav-link">Content projection</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/dynamiccomponent" class="nav-link">Dynamic component</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/angularelements" class="nav-link">Angular el.</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/templatesyntax" class="nav-link">Template syntax</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/propertybinding" class="nav-link">Property binding</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/attributebinding" class="nav-link">Attribute binding</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/eventbinding" class="nav-link">Event binding</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/twowaybinding" class="nav-link">Two-way binding</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/pipes" class="nav-link">Pipes</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/templatevariables" class="nav-link">Template variables</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/builtindirectives" class="nav-link">Build-in directives</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/attributedirectives" class="nav-link">Attribute directives</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/structuraldirectives" class="nav-link">Structural directives</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/depedencyinjection" class="nav-link">Dependency injection</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/standalone" class="nav-link">Standalone component</a>
                </li>

            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/reactiveforms" class="nav-link">Reactive forms</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/formvalidation" class="nav-link">Form validation</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/security" class="nav-link">Best Pr. - Security</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- add routing soon -->
<!-- <server-component></server-component> -->
<!-- <div class="container-fluid !direction !spacing p-3 m-3">
  <app-inner-component1></app-inner-component1>
  <hr />
  <app-inner-component2></app-inner-component2>
</div> -->

<!-- <app-embed-components></app-embed-components> -->