<p>observables-component works!</p>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="onClickHandler()"
>
  start</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onStopHandler()">
  stop counter</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="observerFunc()">
  observer function 1</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onEmitEvent()">
  emit event</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onOperators1()"
  >observable pipe map</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onfileObs1()"
  >file observable</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxOp()"
  >ajax</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxGetJSON()"
  >ajax.getJSON</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxPost()"
  >ajax.Post</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxFetch()"
  >ajax.Fetch</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="defer()"
  >defer</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromArr()"
  >from array</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromGen()"
  >from generator</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromasyncscheduler()"
  >from asyncScheduler</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromEvent()"
  >from Event</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromEventListener()"
  >from Event Listener</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromEventPattern()"
  >from Event Pattern</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate1()"
  >generate</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate2()"
  >generate asap scheduler</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate3()"
  >generate examples</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate4()"
  >generate complex</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="interval()"
  >interval</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="of1()">of</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="range()"
  >range</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw1()"
  >throw Error</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw2()"
  >throw Error Unnecessary</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw3()"
  >throw Error concatMap</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer1()"
  >timer 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer2()"
  >timer 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer3()"
  >timer 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="iif1()"
  >iif 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="iif2()"
  >iif 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest1()"
  >combineLatest 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest2()"
  >combineLatest 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest3()"
  >combineLatest 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest4()"
  >combineLatest 4
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat1()"
  >concat 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat2()"
  >concat 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat3()"
  >concat 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="forkJoin1()"
  >forkJoin1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="forkJoin2()"
  >forkJoin2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="merge1()"
  >merge1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="merge2()"
  >merge2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="partition()"
  >partition
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="winner()"
  >winner
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="zip()">zip </a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="buffer()"
  >buffer
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="bufferCount1()"
  >bufferCount 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="bufferCount2()"
  >bufferCount 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="bufferToggle()"
  >buffer toggle
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="bufferWhen()"
  >buffer when
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concatMap()"
  >concat map
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concatMapTo()"
  >concat map to
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="exhaustMap()"
  >exhaust map
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="exhaustMap()"
  >expand
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="groupBy1()"
  >groupBy 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="groupBy2()"
  >groupBy 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="map()">map </a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mapTo()"
  >map to
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mergeMap()"
  >mergeMap
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mergeMapTo()"
  >mergeMap to
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mergeScan()"
  >merge scan
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="pairWise()"
  >pairWise
</a>

<!-- <a style="margin: 8px" class="btn btn-primary btn-sm" (click)="partition2()"
  >partition
</a> -->

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="pluck()"
  >pluck
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="scan1()"
  >scan 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="scan2()"
  >scan 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="switchMap1()"
  >switchMap 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="switchMap2()"
  >switchMap 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="switchMapTo()"
  >switchMap to
</a>
<!-- 
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="window1()"
  >window
</a> -->

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowCount1()"
  >windowCount 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowCount2()"
  >windowCount 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowTime1()">
  windowTime 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowTime2()"
  >windowTime 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowTime3()"
  >windowTime 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowToggle()"
  >windowToggle
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="windowWhen()"
  >windowWhen
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="audit()"
  >audit
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="auditTime()"
  >auditTime
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="debounce()"
  >debounce
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="distinct1()"
  >distinct 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="distinct2()"
  >distinct 2
</a>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilChanged1()"
  >distinctUntilChanged 1
</a>
<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilChanged2()"
  >distinctUntilChanged 2
</a>
<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilChanged3()"
  >distinctUntilChanged 3
</a>
<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilChanged4()"
  >distinctUntilChanged 4
</a>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilKeyChanged1()"
  >distinctUntilKeyChanged 1
</a>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="distinctUntilKeyChanged2()"
  >distinctUntilKeyChanged 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="elementAt1()"
  >elementAt
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="filter()"
  >filter
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="first()"
  >first
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ignoreElements()"
  >ignoreElements
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="last1()"
  >last1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="last2()"
  >last2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="sample()"
  >sample
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="sampleTime()"
  >sample time
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="single()"
  >single
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="skip()">skip </a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="skipLast()"
  >skip last
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="skipUntil()"
  >skip until
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="skipWhile1()"
  >skip while 1
</a>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="skipWhile2()"
  >skip while 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="take()">take </a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="takeLast()"
  >take last</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="takeUntil()"
  >take until</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="takeWhile()"
  >take while</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throttle()"
  >throttle</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throttleTime()"
  >throttle time</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="combineLatestAll1()"
  >combineLatestAll</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concatAll()"
  >concat all</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="exhaustAll()"
  >exhaust all</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mergeAll1()"
  >merge all 1</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="mergeAll2()"
  >merge all 2</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="switchAll()"
  >switch all</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="startsWith()"
  >starts with</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="withLatest()"
  >with latest</a
>
