<p>observables-component works!</p>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="onClickHandler()"
>
  start</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onStopHandler()">
  stop counter</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="observerFunc()">
  observer function 1</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onEmitEvent()">
  emit event</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onOperators1()"
  >observable pipe map</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="onfileObs1()"
  >file observable</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxOp()"
  >ajax</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxGetJSON()"
  >ajax.getJSON</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxPost()"
  >ajax.Post</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="ajaxFetch()"
  >ajax.Fetch</a
>
<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="defer()"
  >defer</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromArr()"
  >from array</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromGen()"
  >from generator</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromasyncscheduler()"
  >from asyncScheduler</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="fromEvent()"
  >from Event</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromEventListener()"
  >from Event Listener</a
>

<a
  style="margin: 8px"
  class="btn btn-primary btn-sm"
  (click)="fromEventPattern()"
  >from Event Pattern</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate1()"
  >generate</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate2()"
  >generate asap scheduler</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate3()"
  >generate examples</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="generate4()"
  >generate complex</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="interval()"
  >interval</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="of1()">of</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="range()"
  >range</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw1()"
  >throw Error</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw2()"
  >throw Error Unnecessary</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="throw3()"
  >throw Error concatMap</a
>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer1()"
  >timer 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer2()"
  >timer 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="timer3()"
  >timer 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="iif1()"
  >iif 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="iif2()"
  >iif 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest1()"
  >combineLatest 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest2()"
  >combineLatest 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest3()"
  >combineLatest 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="combineLatest4()"
  >combineLatest 4
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat1()"
  >concat 1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat2()"
  >concat 2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="concat3()"
  >concat 3
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="forkJoin1()"
  >forkJoin1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="forkJoin2()"
  >forkJoin2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="merge1()"
  >merge1
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="merge2()"
  >merge2
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="partition()"
  >partition
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="winner()"
  >winner
</a>

<a style="margin: 8px" class="btn btn-primary btn-sm" (click)="zip()">zip </a>
